# Built artifacts
bin/
build/
gen/
out/
.gradle/
app/build/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Локальные конфиги (токены, пути к SDK)
local.properties
.DS_Store

# Внутренний мусор Gradle, который у тебя вылез в корень
.tmp/
caches/
daemon/
jdks/
kotlin-profile/
native/
wrapper/
android/
